// Included if you are using grommet.  Otherwise, just erase this next line.
@import 'grommet/scss/grommet-core/index';

// Add globally used utility styles here.
// Or import scss libraries that are to be used without CSS modules.
/*
.my-style {
  max-width: 20px;
  color: goldenrod;
}
<div className="my-style" />
*/

*, *:before, *:after {
  box-sizing: inherit
}
html {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
}
