.app {
  width: 100vw;
  height: 100vh;
  padding: 6% 10%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}
